body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(green, yellow);
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 40px;
}
#restart {
  display: none;
}
#container {
  padding: 10%;
  text-align: center;
  border: 2px solid black;
}
#loser{
    display: none;
}
#image-container {
  height: 20vh;
}
