@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0.25turn, indigo, AntiqueWhite, darksalmon);
  height: 100vh;
  font-size: 5vmin;
  font-family: 'Work Sans', 'sans-serif';
  color: darkslategrey;
  padding: 3vmin;
}
button {
  margin: 2vmin;
  padding: 2vmin;
  font-size: 50%;
  border-radius:2vmin;
  background-color: darkslategray;
  color: AntiqueWhite;
  font-family: 'Work Sans', 'sans-serif';
  box-shadow: 0.5vmin 0.5vmin 1vmin dimgrey;
}
#restart {
  visibility: hidden;
}
#container {
  text-align: center;
  width: 50vw;
  min-width: 250px;
  height: 80vh;
  max-height: 100vw;
  border: 1vmin solid darkslategray;
  border-radius: 2vmin;
}
#score{
  padding: 1vmin;
}
#win-lose {
  padding: 4vmin;
  height: 7vh;
}
#image-container {
  padding: 1vmin;
  height: 40%;
  width: auto;
}
#dice-image{
  border-radius: 3vmin;
  width: 30vmin;
  height: auto;
  box-shadow: 0.5vmin 0.5vmin 1vmin dimgrey;
}
footer{
  padding: 2%;
}
a {
  text-decoration: none;
  color: darkslategray;
}
